<html>
    <body>
        <h3>Zone-42</h3>
        <p>please click on the link below to reset your password:</p>
        <form method="post" action="https://{{.Server}}/reset?code={{.Code}}" class="inline">
            <button type="submit" class="link-button">
                Reset your password
            </button>
        </form>
        <p>If you have not requested a password reset, just ignore this message.</p>
    </body>
</html>
