<html>
    <body>
        <h3>Welcome to Zone-42</h3>
        <p>Thank you for choosing Zone-42 as your DNS server. please click on the link below to verify your email address:</p>
        <form method="post" action="https://{{.Server}}/auth/verify?code={{.Code}}" class="inline">
            <button type="submit" class="link-button">
                Verify Your EMail Address
            </button>
        </form>
        <p>If you have not registered on our website, just ignore this message.</p>
    </body>
</html>
